@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 239 241 245;
    --foreground: 76 79 105;
  }

  .dark {
    --background: 48 52 70;
    --foreground: 198 208 245;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

/* Add any other global styles here */
